table.room {
    width: 100%;
    tbody tr{
        th {
            border: solid;
            border-width: thin;
        }
        .name{
            width: 50%;
        }
        .price{
            width: 25%;
        }
        .cake{
            width: 25%;
        }
        .command{
            width: 10%;
        }
        td {
            border: solid;
            border-width: thin;
        }
        .name{
            width: 50%;
        }
        .price{
            width: 40%;
        }
        .command{
            width: 5%;
        }
    }
}